# ignore  files
engine_log.csv
debug_*.txt
*copy.py
.DS_Store
events.*

# ignore folders
__pycache__/
venv/
env/
archive_*/
src/


# Reinforced Learning files
#files
rl_.py
*.zip
#folders
rl/
tb_logs/

