# ignore  debug files and backup files
engine_log.csv
debug_*.txt
*copy.py
.DS_Store
events.*
*.txt
*.png

# But include requirements.txt
!requirements.txt

# ignore folders
__pycache__/
venv/
.*/


# Ignore Reinforced Learning files and folders
#files
rl_*.py
*.zip
#folders
rl/
tb_logs/

